/*
filename: Gianluca MT
author: Gianluca MT
created: 27/03/2019
last modified: 27/03/2019
description: jobs.html css
*/

#uix {
	border: 1px solid black;
	float: left;
	width: 25%;
	text-align: justify;
	margin: 1em;
	padding: 1em;
	background-color: white;
}

#appdev {
	border: 1px solid black;
	float: left;
	width: 25%;
	text-align: justify;
	margin: 1em;
	padding: 1em;
	background-color: white;
}

aside {
	border: 1px solid black;
	float: left;
	width: 25%;
	text-align: justify;
	margin: 1em;
	padding: 1em;
	background-color: white;
}
