/*
filename: Gianluca MT
author: Gianluca MT
created: 18/03/2019
last modified: 27/03/2019
description: index.html css
*/

#holdphone {
		display: block;
		width: 45%;
		margin-left: auto;
		margin-right: auto;
}

h2, p {text-align: center;}

#bar {
	text-align:center;
}
